.left-corner {
  display: inline-flex;
}

.logo-area {
  width: 150px;
  aspect-ratio: 1;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-bottom-right-radius: 999px;
  padding-inline-start: 16px;
  padding-top: 16px;
}

.github-logo {
  width: 100px;
  aspect-ratio: 1;
}
