<div class="container">
  <header class="header">
    <div class="left-corner">
      <span class="logo-area">
        <a href="https://github.com/YansZero/self_demo_site" target="_self">
          <img class="github-logo" src="../assets/image/github.png" alt="github-page">
        </a>
      </span>
    </div>
  </header>
  <nav>
    <button type="button" class="btn btn-primary">Primary</button>
  </nav>
  <main>

  </main>
  <footer class="footer">
    <div class="copyRight-area">
      {{copyRightStr}}
    </div>
  </footer>
</div>


<router-outlet />
