<div class="container">
  <header class="header">
    <div class="left-corner">
      <span class="logo-area">
        <a href="https://github.com/YansZero/self_demo_site" target="_self">
          <img
            class="github-logo"
            src="../assets/image/github.png"
            alt="github-page"
          />
        </a>
      </span>
    </div>
  </header>
  <nav>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>
  </nav>
  <main></main>
  <footer class="footer">
    <div class="copyRight-area">
      {{ copyRightStr }}
    </div>
  </footer>
</div>

<router-outlet />
